<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msy.phonestore.mapper.OrderMapper">
    <resultMap id="order_user" type="Orders">
        <id column="orderId" property="orderId"></id>
        <result column="userId" property="userId"></result>
        <result column="submitOrderTime" property="submitOrderTime"></result>
        <result column="orderTotal" property="orderTotal"></result>
        <result column="addressId" property="addressId"></result>
        <result column="orderState" property="orderState"></result>
        <result column="paymentTime" property="paymentTime"></result>
        <result column="returnGoodsTime" property="returnGoodsTime"></result>
        <result column="confirmTime" property="confirmTime"></result>
        <result column="userCouponId" property="userCouponId"></result>
        <result column="pointsOffer" property="pointsOffer"></result>
        <result column="couponId" property="couponId"></result>
        <result column="shipTime" property="shipTime"></result>
        <result column="deliveryTime" property="deliveryTime"></result>
        <result column="completeTime" property="completeTime"></result>

        <association property="users" javaType="users">
            <id column="userId" property="userId"></id>
            <result column="userName" property="userName"></result>
            <result column="name" property="name"></result>
            <result column="userImg" property="userImg"></result>
            <result column="email" property="email"></result>
            <result column="phoneNumber" property="phoneNumber"></result>
        </association>
    </resultMap>
    <resultMap id="order_orderDetail_" type="Orders">
        <id column="orderId" property="orderId"></id>
        <result column="userId" property="userId"></result>
        <result column="submitOrderTime" property="submitOrderTime"></result>
        <result column="orderTotal" property="orderTotal"></result>
        <result column="addressId" property="addressId"></result>
        <result column="orderState" property="orderState"></result>
        <result column="paymentTime" property="paymentTime"></result>
        <result column="returnGoodsTime" property="returnGoodsTime"></result>
        <result column="confirmTime" property="confirmTime"></result>
        <result column="userCouponId" property="userCouponId"></result>
        <result column="pointsOffer" property="pointsOffer"></result>
        <result column="couponId" property="couponId"></result>
        <result column="shipTime" property="shipTime"></result>
        <result column="deliveryTime" property="deliveryTime"></result>
        <result column="completeTime" property="completeTime"></result>

        <association property="users" javaType="users">
            <id column="userId" property="userId"></id>
            <result column="userName" property="userName"></result>
            <result column="name" property="name"></result>
            <result column="userImg" property="userImg"></result>
            <result column="email" property="email"></result>
            <result column="phoneNumber" property="phoneNumber"></result>
        </association>

        <collection property="orderDetailList" ofType="orderDetail">
            <id column="orderDetailId" property="orderDetailId"></id>
            <result column="phoneDetailId" property="phoneDetailId"></result>
            <result column="phoneCount" property="phoneCount"></result>
            <result column="comboId" property="comboId"></result>
            <result column="assureId" property="assureId"></result>
            <result column="assureCount" property="assureCount"></result>
            <association property="phoneDetail" javaType="phoneDetail">
                <result column="color" property="color"></result>
                <result column="ram" property="ram"></result>
                <result column="storage" property="storage"></result>
                <result column="price" property="price"></result>
                <result column="screenSize" property="screenSize"></result>
                <result column="version" property="version"></result>
                <association property="phone" javaType="phone">
                    <result column="phoneName" property="phoneName"></result>
                    <result column="phoneTypeId" property="phoneTypeId"></result>
                    <result column="phoneImg" property="phoneImg"></result>
                </association>
            </association>
            <association property="phoneCombo" javaType="phoneCombo">
                <id column="comboId" property="comboId"></id>
                <result column="combo" property="combo"></result>
                <result column="comboPrice" property="comboPrice"></result>
                <result column="commodityId" property="commodityId"></result>
            </association>
            <!--<association property="phoneAssure" javaType="phoneAssure">-->
            <!--<id column="assureId" property="assureId"></id>-->
            <!--<result column="assure" property="assure"></result>-->
            <!--<result column="assurePrice" property="assurePrice"></result>-->
            <!--<result column="assureImg" property="assureImg"></result>-->
            <!--</association>-->
        </collection>
        <collection property="orderTimes" ofType="orderTime">
            <id column="orderTimeId" property="orderTimeId"></id>
            <result column="orderId" property="orderId"></result>
            <result column="orderTime" property="orderTime"></result>
            <result column="orderTimeIntroduce" property="orderTimeIntroduce"></result>
        </collection>
    </resultMap>

    <select id="queryCountByMap" resultType="int">
      select count(1)
        from orders o, users u
        where o.userid = u.userid
        <if test="orderId!=null and orderId!='' ">
            and o.orderId=#{orderId}
        </if>
        <if test="userId!=null and userId!='' ">
            and o.userid=#{userId}
        </if>
        <if test="orderStateList!=null">
            and orderState in
            <foreach collection="orderStateList" item="orderState" open="(" close=")" separator=",">
                #{orderState}
            </foreach>
        </if>
        order by o.submitOrderTime desc
    </select>

    <select id="queryPageMsgByMap" resultMap="order_user" parameterType="map">
        select *
        from (select *
        from (select o.*, u.username, u.name, u.gender, rownum rn
        from orders o, users u
        where o.userid = u.userid
        <if test="orderId!=null and orderId!='' ">
            and o.orderId=#{orderId}
        </if>
        <if test="userId!=null and userId!='' ">
            and o.userid=#{userId}
        </if>
        <if test="orderStateList!=null">
            and orderState in
            <foreach collection="orderStateList" item="orderState" open="(" close=")" separator=",">
                #{orderState}
            </foreach>
        </if>
        order by o.submitOrderTime desc)
        where rownum &lt;= #{pageSize}*#{pageNumber})
        where rn > #{pageSize}*(#{pageNumber}-1)
    </select>

    <select id="queryMsgByMap" resultMap="order_orderDetail_" parameterType="map">
        select * from orders o,order_Detail od,phone_Detail pd,
        phone p,phone_combo pc,order_time ot,users u
        where o.orderid=od.orderid
        and od.phoneDetailid=pd.phoneDetailid
        and pd.phoneid=p.phoneid
        and od.comboid=pc.comboid
        and o.orderId=ot.orderId
        and o.userid=u.userid
        <if test="orderId!=null and orderId!='' ">
        and o.orderId=#{orderId}
        </if>
        <if test="userId!=null and userId!='' ">
        and o.userid=#{userId}
        </if>
        <if test="orderStateList!=null">
        and orderState in
        <foreach collection="orderStateList" item="orderState" open="(" close=")" separator=",">
        #{orderState}
        </foreach>
        </if>
        order by o.submitOrderTime desc
    </select>

    <select id="queryOneMsgByMap" resultMap="order_orderDetail_" parameterType="map">
        select * from orders o,order_Detail od,phone_Detail pd,
        phone p,phone_combo pc,order_time ot,users u
        where o.orderid=od.orderid
        and od.phoneDetailid=pd.phoneDetailid
        and pd.phoneid=p.phoneid
        and od.comboid=pc.comboid
        and o.orderId=ot.orderId
        and o.userid=u.userid
        <if test="orderId!=null and orderId!='' ">
            and o.orderId=#{orderId}
        </if>
        <if test="userId!=null and userId!='' ">
            and o.userid=#{userId}
        </if>
        <if test="orderState!=null and orderState!='' ">
            and o.orderState=#{orderState}
        </if>
    </select>
</mapper>